/* Webfont: RealTextPro-Bold */@font-face {
    font-family: 'RealTextPro';
    src: url('RealTextPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('RealTextPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RealTextPro-Bold.woff') format('woff'), /* Modern Browsers */
         url('RealTextPro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('RealTextPro-Bold.svg#RealTextPro-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

