/* Webfont: RealTextPro-Bold */@font-face {
    font-family: 'RealTextPro';
    src: url('https://github.com/maxappnl/realtextpro/blob/main/RealTextPro-Bold.eot?raw=true'); /* IE9 Compat Modes */
    src: url('https://github.com/maxappnl/realtextpro/blob/main/RealTextPro-Bold.eot?raw=true#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://github.com/maxappnl/realtextpro/blob/main/RealTextPro-Bold.woff?raw=true') format('woff'), /* Modern Browsers */
         url('https://github.com/maxappnl/realtextpro/blob/main/RealTextPro-Bold.ttf?raw=true') format('truetype'), /* Safari, Android, iOS */
         url('https://github.com/maxappnl/realtextpro/blob/main/RealTextPro-Bold.svg?raw=true#RealTextPro-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

